<ion-modal
  #modal
  [isOpen]="view() !== undefined"
  [breakpoints]="breakpoints"
  [initialBreakpoint]="initialBreakpoint"
  [backdropBreakpoint]="backdropBreakpoint"
  [expandToScroll]="false"
  handleBehavior="cycle"
  (didDismiss)="detailsStore.clearSelection()"
>
  <ng-template>
    <ion-content>
      @if (view(); as shown) {
        <app-station-details-content
          [view]="shown"
          [favoriteStationIdSet]="favoriteStationIdSet()"
          [favoriteChargePoints]="favoriteChargePoints()"
          (stationFavoriteToggled)="stationFavoriteToggled.emit($event)"
          (chargePointFavoriteToggled)="chargePointFavoriteToggled.emit($event)"
          (retry)="detailsStore.reload()"
          (closed)="modal.dismiss()"
        />
      }
    </ion-content>
  </ng-template>
</ion-modal>
