<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon slot="start" name="flash" class="page-header__icon" aria-hidden="true" />
    <div class="page-header__content">
      <ion-title class="page-header__title">{{ heading() }}</ion-title>
      <ng-content select="[headerContent]" />
    </div>
    <ion-buttons slot="end">
      <ng-content select="[headerActions]" />
      <ion-button
        class="page-header__theme"
        [attr.aria-label]="theme.isDark() ? 'Switch to light theme' : 'Switch to dark theme'"
        (click)="theme.toggle()"
      >
        <ion-icon slot="icon-only" aria-hidden="true" [name]="theme.isDark() ? 'sunny' : 'moon'" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ng-content />
</ion-header>
